<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 클래스에 별명짓기 -->
	<typeAliases>
		<typeAlias type="community.dto.CommunityDTO" alias="Cdto"/>
		<typeAlias type="member.dto.MemberDTO" alias="Mdto"/>
	</typeAliases>
	
	<!-- sql mapper 등록. -->
	<mappers>
		<mapper resource="/mybatis/community-mapping.xml" />
		<mapper resource="/mybatis/member-mapping.xml" />
	</mappers>
</configuration>